target/classes/DeleteProcedureCall.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="DeleteProcedureCallFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/delete-employee/{empID}" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="Started the delete procedure call flow and received the uri param:#[message.inboundProperties.'http.uri.params'.empID]" level="INFO" doc:name="Start Log"/>
        <db:stored-procedure config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[{call deleteDBUSER(:EMPLOYEEID)}]]></db:parameterized-query>
            <db:in-param name="EMPLOYEEID" value="#[message.inboundProperties.'http.uri.params'.empID]"/>
        </db:stored-procedure>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	Response:
	{
		"Status":200,
		"Message":"Success"
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
